@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/breadcrumbs.css";
@import "./styles/global.css";
@import "./styles/button.css";
@import "./styles/footer.css";
@import "./styles/header.css";
@import "./styles/mapCity.css";
@import "./styles/miniCardCity.css";
@import "./styles/searchBar.css";

h1,
.type-h1 {
  font-family: "Lato Black";
  color: theme("colors.darkBlue");
  font-size: theme("fontSize.xl");
  text-transform: uppercase;
}

h2,
.type-h2 {
  font-family: "Lato Black";
  color: theme("colors.darkBlue");
  font-size: theme("fontSize.l");
}

h3 {
  font-family: "Lato Regular";
  color: theme("colors.darkBlue");
  font-size: theme("fontSize.m");
}

h4 {
  font-family: "Lato Regular";
  color: theme("colors.darkBlue");
  font-size: theme("fontSize.base");
  @screen sm {
    font-size: 1.5rem;
  }
}

p {
  font-family: "Karla Medium";
  color: theme("colors.darkBlue");
  font-size: theme("fontSize.base");
}
