.sidebar__logo {
  display: flex;
  @apply pt-10
    px-6
    gap-4
    w-auto
    justify-evenly;
}

.sidebar__menu {
  display: flex;
  @apply w-full
    py-4
    justify-center
    hover:text-cream
    transition;
}

.sidebar__menu-active {
  display: flex;
  @apply bg-cream
      w-full
      py-4
      justify-center;
}

.sidebar__button {
  display: flex;
  align-items: center;
  @apply w-1/2
    gap-3;
}
